* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: #f5f5f5;
  padding-top: 46px;
}

.header {
  padding-top: 6px;
  padding-bottom: 6px;
  background: #0050b3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.header-block {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m-menu {
  border: none;
  width: 24px;
  height: 24px;
  background-color: transparent;
  display: none;
  padding: 0;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 12px;
}
.m-menu .line {
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.search-input {
  font-size: 14px;
  line-height: 22px;
  padding: 5px 30px 5px 12px;
  width: 100%;
  width: 336px;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation-panel {
  margin-left: 12px;
  display: flex;
  align-items: center;
}
.navigation-link {
  display: flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  margin-left: 12px;
}
.navigation-link:before {
  content: "";
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-right: 12px;
}
.navigation-link:last-child:after {
  content: "";
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-left: 12px;
}
.user {
  display: flex;
  align-items: center;
}

.user-avatar {
  margin-right: 8px;
}

.user-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
}

.icons-panel {
  display: flex;
  align-items: center;
}
.icon-link {
  display: flex;
  align-items: center;
  margin-left: 17px;
}
.header-icon {
  fill: #002766;
}

.header-icon:hover {
  fill: white;
}

.icon-link:last-child:before {
  content: "";
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-right: 12px;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  justify-content: space-between;
}
.menu-sidebar {
  margin-top: 18px;
  width: 192px;
  margin-right: 12px;
}
.menu-sidebar .user {
  padding-left: 10px;
}
.menu-sidebar .user-avatar {
  width: 24px;
  height: 24px;
}
.menu-sidebar .user-name {
  color: #262626;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
.nav-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}
.nav-link {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
  color: #595959;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
.nav-link.active {
  background: #ffffff;
  color: #262626;
}
.nav-text {
  margin-left: 8px;
}
.nav-title {
  padding-left: 10px;
  color: #262626;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px;
  margin-top: 0;
}
.icon-events {
  padding-right: 2px;
}
.main-feed {
  margin-top: 18px;
  max-width: 588px;
  flex-grow: 1;
}
.create-post {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  width: 100%;
}
.create-post-header {
  background: #f5f5f5;
  padding: 9px 16px;
}
.create-post-title {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.create-post-body {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
  display: flex;
  align-items: flex-start;
}
.create-post-input {
  width: 100%;
  padding-top: 8px;
}
.create-post-footer {
  display: flex;
  align-items: center;
  padding: 0 16px 16px 16px;
  flex-wrap: wrap;
}
.create-post-footer:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-bottom: 16px;
}
.tag {
  background: #f5f5f5;
  border-radius: 48px;
  border: none;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.tag-elips {
  background: #f5f5f5;
  border-radius: 48px;
  border: none;
  padding: 18px 15px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.tag-icon {
  margin-right: 8px;
}
.tag-icon-elips {
  margin: auto;
}
.post {
  background: #fff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 16px 0;
  padding: 16px;
}
.post-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.post-header-button {
  background-color: #fff;
  border: none;
}
.post-header .user-avatar {
  width: 48px;
  height: 48px;
  margin-right: 12px;
}
.post-info {
  display: flex;
  flex-wrap: wrap;
}
.post-author {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  text-decoration: none;
}
.post-time {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
}
.post-time:after {
  display: inline-block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #bfbfbf;
  border-radius: 50%;
  margin-right: 6px;
  margin-left: 6px;
  vertical-align: middle;
}
.post-info-time {
  display: flex;
  align-items: center;
}

.post-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-bottom: 16px;
}
.post-text a {
  color: #096dd9;
  text-decoration: none;
}
.post-image {
  border: 1px solid #bfbfbf;
  border-radius: 4px;
  max-width: 100%;
}
.likes {
  display: flex;
  align-items: center;
  margin-top: 9px;
  margin-bottom: 9px;
}
.likes-counter {
  color: #595959;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-left: 4px;
}
.post-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.post-button {
  background-color: #fff;
  border: none;
  display: flex;
  align-items: center;
}
.post-button-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  margin-left: 8px;
}

.post-footer:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-bottom: 16px;
}

.right-sidebar {
  width: 384px;
}
.story {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 16px;
  padding: 16px;
  padding-left: 24px;
  margin-left: 24px;
}
.stories-icon {
  fill: #0050b3;
}
.story-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}
.stories-title {
  margin: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
}
.story-buttons {
  display: flex;
  align-items: center;
}
.story-button-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  text-decoration: none;
}
.story-button-link:first-child:after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #bfbfbf;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.stories-icon {
  vertical-align: sub;
  align-items: center;
  margin-bottom: 1px;
}
.story-button-text {
  margin-left: 1px;
}
.story-item,
.story-item-add {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 16px;
}
.story-image {
  width: 48px;
  height: 48px;
  background: #f5f5f5;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
  flex-shrink: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #1890ff;
  margin-right: 12px;
}
.story-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
  display: block;
}
.story-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #8c8c8c;
  width: 100%;
  word-wrap: break-word;
}
.concuria {
  background-image: url(../img/custom.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.figma {
  background-image: url(../img/figma.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ant {
  background-image: url(../img/ant.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.bday {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 16px;
  padding: 16px;
  padding-left: 18px;
  margin-left: 24px;
  display: flex;
  align-items: center;
  vertical-align: middle;
}
.bday-name {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #0050b3;
}
.bday-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
}
.bday-content {
  margin-left: 8px;
  margin-top: 2px;
}
@media (max-width: 1250px) {
  .container {
    justify-content: flex-start;
  }
  .right-sidebar {
    display: none;
  }
  .header-block {
    width: 95%;
  }
}
@media (max-width: 960px) {
  .header .user {
    display: none;
  }
  .navigation-panel {
    display: none;
  }
  .container {
    justify-content: center;
  }
}
@media (max-width: 840px) {
  .menu-sidebar {
    position: fixed;
    left: 0;
    top: 18px;
    width: 100%;
    max-width: 250px;
    background-color: #f1f1f1;
    padding-top: 12px;
    height: 100%;
    padding-left: 2%;
    transform: translateX(-100%);
    transition: transform 0.2s;
  }
  .menu-sidebar.active {
    transform: translateX(0%);
    transition: transform 0.2s;
  }
  .m-menu {
    display: flex;
  }
}

@media (max-width: 760px) {
  .search {
    display: none;
  }
}
